#grid {
  display: grid;
  width: 1000px;              
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 124px);
  grid-gap: 10px;
  background-color: green;
}

#grid > div {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layout spans */
#grid > div:nth-child(1) {
  grid-column: span 4;
}

#grid > div:nth-child(2) {
  grid-row: span 4;
}

#grid > div:nth-child(4) {
  grid-column: span 2;
}

#grid > div:nth-child(5) {
  grid-column: span 2;
}

#grid > div:nth-child(10) {
  grid-column: span 3;
}
