
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 100px);
  gap: 10px;
  background-color: green;
  padding: 10px;
}


.box {
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box:nth-child(1) {
  grid-column: 1 / 4; 
}

.box:nth-child(2) {
  grid-row: 2 / 6; 
}

.box:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

.box:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}

.box:nth-child(5) {
  grid-column: 2;
  grid-row: 3;
}

.box:nth-child(6) {
  grid-column: 3;
  grid-row: 3;
}

.box:nth-child(7) {
  grid-column: 2;
  grid-row: 4;
}

.box:nth-child(8) {
  grid-column: 3;
  grid-row: 4;
}

.box:nth-child(9) {
  grid-column: 3;
  grid-row: 5;
}

.box:nth-child(10) {
  grid-column: 1 / 2;
  grid-row: 6;
}

